<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961848504306-3d73fu1cgan011d55q436hh2rv8iqmap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961848504306-3d73fu1cgan011d55q436hh2rv8iqmap</string>
	<key>API_KEY</key>
	<string>AIzaSyB75Z8q0VLWE_qj2R0jMWbAPGzd8DkG82o</string>
	<key>GCM_SENDER_ID</key>
	<string>961848504306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intake4.Sakaly</string>
	<key>PROJECT_ID</key>
	<string>sakaly-89fe5</string>
	<key>STORAGE_BUCKET</key>
	<string>sakaly-89fe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961848504306:ios:57ddc3dc6ce48e575f056b</string>
	<key>DATABASE_URL</key>
	<string>https://sakaly-89fe5.firebaseio.com</string>
</dict>
</plist>